.idea
.idea_modules
target
project/boot
project/metals.sbt
project/project
*.swp
project.vim
tags
.lib
*~
*#
.DS_Store
.history
.cache
.classpath
.project
.settings
.boot
.ivy
debian/changelog
.metals
.bloop
env.sh
